@{
  ViewBag.Title = "Hand";
}

<body>
  <div>
    <h2>Hand</h2>
    <table>
      <tr>
        <td><p>Suit</p></td>
        <td><p>Face</p></td>
      </tr>
      @foreach (var o in ViewBag.Users)
      {
        <tr>
          <td><p>@o.Suit</p></td>
          <td><p>@o.Face</p></td>
        </tr>
      }
    </table>
  </div>
</body>