@{
  ViewBag.Title = "Hand";
}

<body>
  <div>
    <h2>Hand</h2>
    <p>Id = @ViewBag.UserId</p>
    <table>
      <tr>
        <td><p>Suit</p></td>
        <td><p>Face</p></td>
      </tr>
      @foreach (var u in ViewBag.Cards)
      {
        <tr>
          <td><p>@u.Suit</p></td>
          <td><p>@u.Face</p></td>
        </tr>
      }
    </table>
  </div>
</body>