<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>BlackJack</title>
</head>
<body>
  <h2>Welcome to BlackJack!</h2>
  <div>
    <p><a href="/Home/Game">Start the game</a></p>
    <p><a href="/Home/HistoryOfGames"> Match History</a></p>
  </div>
</body>
</html>
